@font-face {
  font-family: "Harry P";
  src: url("assets/HarryP.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
button,
input {
  font-family: "Harry P";
  letter-spacing: 5px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
button {
  font-weight: bolder;
  font-size: large;
}
button:hover {
  text-decoration-line: underline;
}
body {
  padding: 0;
  margin: 0;
  background-color: #fdfdfd;
}
header {
  text-align: center;
}
/* GENERAL CLASSES */
.directionRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* .directionColumn {
  display: flex;
  flex-direction: column;
} */
.slytherin {
  color: #065c31;
}
.gryffindor {
  color: #a62126;
}
.hufflepuff {
  color: #f5af1b;
}
.ravenclaw {
  color: #115a85;
}
.gryffindorBorder {
  border: solid #a62126 3px;
}
.hufflepuffBorder {
  border: solid #f5af1b 3px;
}
.slytherinBorder {
  border: solid #065c31 3px;
}
.ravenclawBorder {
  border: solid #115a85 3px;
}
.gryffindorBG {
  background-color: #e9c7c8;
}
.slytherinBG {
  background-color: #acc9bb;
}
.hufflepuffBG {
  background-color: #fbe1aa;
}
.ravenclawBG {
  background-color: #b0c8d7;
}
.hidden {
  display: none;
}

/* MAINDISPLAY SECTION STYLE */
#mainDisplay {
  padding: 0 2rem;
  justify-content: space-between;
}
/* SECTION HOUSES STYLE */
#houses {
  width: 20vw;
}

#searchField img {
  vertical-align: bottom;
}
#searchField input {
  height: 5vh;
}
.houseNumber {
  margin: 2rem 0;
}
.houseNumber span {
  padding: 0.5rem;
}
#list,
#popUp {
  width: 33vw;
}
/* OVERVIEW STYLE */
#overview {
  width: 40vw;
  margin-bottom: 3rem;
}
#overview h3 {
  margin: auto;
}

/* LIST SECTION STYLE */
#buttons {
  justify-content: space-evenly;
}
#buttons p {
  font-size: larger;
  font-weight: bolder;
  margin: 0;
}
#buttons h3 span {
  margin-right: 0.5rem;
}
.buttonContainer {
  height: fit-content;
  /* width: 30%; */
}
#expellContainer {
  margin: 0 auto 2rem auto;
  width: 30%;
}
button {
  border: none;
  background: none;
}
.buttonIcon {
  max-width: 15%;
  height: min-content;
  margin-right: 0.5rem;
}

#list ul {
  padding: 0;
}
.studentCard {
  margin: 2rem 0 0 0;
  padding: 0.5rem;
  border-radius: 10px;
  justify-content: space-between;
}
.studentImgCard {
  width: 30%;
  height: auto;
}
.studentCard div {
  width: 30%;
}

.houseImgCard {
  max-width: 40%;
}
.houseNameAndImg {
  padding-left: 2rem;
}

/* POPUP STYLE */

#popUp article {
  border-radius: 15px;
  padding: 1rem 2rem;
  position: fixed;
  margin-right: 3rem;
}
#mainInfo,
#status {
  justify-content: space-between;
}
#studentImgPopUp {
  width: 40%;
  height: fit-content;
}
#names h2 {
  margin: 0.5rem 0;
}
#housePopUp img {
  max-width: 25%;
}
#housePopUp {
  align-items: center;
  column-gap: 1rem;
}
#status {
  margin-top: 2rem;
}
/* #status div {
  width: auto;
} */
#star {
  max-width: 15%;
}
#closeContainer {
  width: 30%;
  margin: 1rem auto 0 auto;
}

/* DROPDOWN */
.drp-block {
  width: 30%;
}
.drp-content {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: white;
  box-shadow: 2px 3px 6px #707070;
}
.drp-content button {
  padding: 0.5rem;
}
.drp-block:hover .drp-content {
  display: flex;
}
